___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [105]:
# My answer
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [4]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(7,5)

7

In [107]:
# Jose's answer
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        # BOTH NUMBERS ARE EVEN!
        if a < b:
            result = a
        else:
            result = b
    else:
        # One or bothe numbers are odd!
        if a > b:
            result = a
        else: result = b
    return result

In [113]:
# Jose's answer
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        # BOTH NUMBERS ARE EVEN!
        result = min(a,b)
    else:
        # One or bothe numbers are odd!
        result = max(a,b)
    return result

In [114]:
lesser_of_two_evens(7,5)

7

In [115]:
lesser_of_two_evens(4,6)

4

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [27]:
# My answer
def animal_crackers(text):
    
    letters = []
    for word in text.split():
        letters.append(word[0].upper())

    return letters[0] == letters[1]

In [126]:
# Jose's answer
def animal_crackers(text):
    wordlist = text.lower().split()
    
    first = wordlist[0]
    second = wordlist[1]
    
    return first[0] == second[0]

In [127]:
# Jose's answer
def animal_crackers(text):
    wordlist = text.lower().split()
    return wordlist[0][0] == wordlist[1][0]

In [128]:
# Check
animal_crackers('Levelheaded Llama')

True

In [129]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [130]:
animal_crackers('Levelheaded Llama')

True

In [131]:
animal_crackers('Levelheaded llama')

True

In [32]:
animal_crackers('Crazy kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [37]:
# My answer
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or (n1+n2) == 20

In [38]:
# Check
makes_twenty(20,10)

True

In [39]:
# Check
makes_twenty(12,8)

True

In [40]:
# Check
makes_twenty(2,3)

False

In [132]:
# Jose's answer
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20:
        return True
    elif n2 ==20:
        return True
    else:
        return False

In [133]:
# Check
makes_twenty(20,10)

True

In [134]:
# Check
makes_twenty(12,8)

True

In [135]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [146]:
def old_macdonald(name):
    
    first = name[:3]
    fourth = name[3:]
    
    return first.capitalize() + fourth.capitalize()

In [147]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [144]:
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [145]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [143]:
def old_macdonald(name):
    pass

In [49]:
# Check
old_macdonald('macdonald')

'MacdDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [50]:
# My answer
def master_yoda(text):
    list_of_words = []
    
    for words in text.split():
        list_of_words.append(words)
    list_of_words.reverse()
    return " ".join(list_of_words)

In [51]:
# Check
master_yoda('I am home')

'home am I'

In [52]:
# Check
master_yoda('We are ready')

'ready are We'

In [153]:
# Jose's Answer

def master_yoda(text):
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return ' '.join(reverse_word_list)

In [154]:
# Check
master_yoda('I am home')

'home am I'

In [155]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [156]:
# My answer
def almost_there(n): 
    return abs(n-100) <= 10 or abs(n-200) <= 10

In [157]:
almost_there(90)

True

In [158]:
# Check
almost_there(104)

True

In [159]:
# Check
almost_there(150)

False

In [160]:
# Check
almost_there(209)

True

In [163]:
def almost_there(n):
    
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [164]:
almost_there(90)

True

In [165]:
# Check
almost_there(104)

True

In [166]:
# Check
almost_there(150)

False

In [167]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [168]:
str(3)

'3'

In [169]:
# My answer
def has_33(nums):
    str_num = []
    
    for num in nums:
        str_num.append(str(num))
    
    return '33' in ''.join(str_num)

In [170]:
# Check
has_33([1, 3, 3])

True

In [171]:
# Check
has_33([1, 3, 1, 3])

False

In [172]:
# Check
has_33([3, 1, 3])

False

In [77]:
has_33([3, 1, 3, 4, 6, 4, 3, 3, 5, 6, 7, 9])

True

In [190]:
# Jose's answer
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [192]:
for i in range(0,len([1, 3, 1, 3, 4,5,3,1,2,3])):
    print(i, 'i+2= ', i+1)

0 i+2=  1
1 i+2=  2
2 i+2=  3
3 i+2=  4
4 i+2=  5
5 i+2=  6
6 i+2=  7
7 i+2=  8
8 i+2=  9
9 i+2=  10

In [193]:
numberssss = [1, 3, 1, 3, 4,5,3,1,2,3]

numberssss[2:4]

[1, 3]

In [183]:
# Check
has_33([1, 3, 3])

True

In [194]:
# Check
has_33([1, 3, 1, 3, 4,5,3,1,2,3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [80]:
# My answer
def paper_doll(text):
    
    letters = []
    for letter in text:
        letters.append(letter * 3)
        
    return ''.join(letters)

In [81]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [82]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [198]:
# Jose's answer
def paper_doll(text):
    
    result = ''
    
    for char in text:
        result+= char*3
    result

In [199]:
# Check
paper_doll('Hello')

In [200]:
# Check
paper_doll('Mississippi')

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [201]:
# My answer
def blackjack(a,b,c):
    if sum([a,b,c]) > 21:
        if a == 11 or b == 11 or c == 11:
            new_total = sum([a,b,c]) - 10
            if new_total > 21:
                return 'BUST'
            else:
                return new_total
        else:
            return 'BUST'
    else:
        return sum([a,b,c])

In [202]:
# Check
blackjack(5,6,7)

18

In [203]:
# Check
blackjack(9,9,9)

'BUST'

In [206]:
# Check
blackjack(9,9,11)

19

In [207]:
# Jose's answer
def blackjack(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c]) - 10
    else:
        return "BUST"

In [208]:
# Check
blackjack(9,9,11)

19

In [209]:
# Check
blackjack(9,9,9)

'BUST'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [210]:
# My unfinished number
def summer_69(arr):
    
    my_num = []
    
    is_69 = True
    
    for num in arr:
        if num == 6:
            while is_69:
                print('>>>>>while 69', num)
                if num == 9:
                    print('><><><><><>if num==9', num)
                    is_69 = False
                    
        else:
            my_num.append(num)
            
    return sum(my_num)

In [221]:
# My revision after jose's answer
def summer_69(arr):
    
    my_num = []
    
    is_69 = True
    
    for num in arr:
        while is_69:
            
            if num != 6:
                my_num.append(num)
                break
            else:
                is_69 = False
        while not is_69:
            if num != 9:
                break         
            else:
                is_69 = True
                break
            
    return sum(my_num)

In [222]:
# Check
summer_69([1, 3, 5])

9

In [223]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [224]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [225]:
# Check
summer_69([2, 1, 6, 8, 4, 3, 4, 2, 9, 11])

14

In [217]:
# Jose's Answer

def summer_69(arr):
    
    total = 0
    
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [218]:
# Check
summer_69([1, 3, 5])

9

In [219]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [220]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [216]:
# Check
summer_69([2, 1, 6, 8, 4, 3, 4, 2, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [226]:
# My answer
def spy_game(nums):
    
    bond = []
    
    for num in nums:
        if num == 0:
            bond.append(str(num))
        elif num == 7:
            bond.append(str(num))
    
    return '007' in ''.join(bond)

In [227]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [228]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [229]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [230]:
# Jose's answer
def spy_game(nums):
    
    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [231]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [232]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [233]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [234]:
# My answer
def count_primes(num):
    
    # Creating a list for numbers that are not prime
    # Also creating a list with all the numbers
    not_prime = []
    mynumlist = [x for x in range(2,num)]
    
    # Going through all the numbers to check if prime
    for x in range(2,num):
        for y in range(2,x):
            # If the number is not prime appending the number to my not prime list
            if x % y == 0:
                not_prime.append(x)

    # Then removing all the not prime numbers from list. What ever numbers are left are prime numbers
    for a in set(not_prime):
        mynumlist.remove(a)
    return mynumlist

In [235]:
# Check
count_primes(100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [240]:
# Jose's Answer
def count_primes(num):
    
    # check for 0 or 1 input
    
    if num < 2:
        return 0
    ##############
    # 2 or greater
    ##############
    
    # Store our prime numbers
    primes = [2]
    # Counter going up to the input num
    x = 3
    
    #  is going through every number up to input num
    while x <= num:
        # check if x is prime
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
            
    print(primes)
    return len(primes)

In [241]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [116]:
def print_big(letter):
    big_letter = {
        'a':  '''
                 *
                * *
               *****
               *   *
               *   *
                   ''',
        
        'b': '''
                ****
                *   *
                ****
                *   *
                ****
                    ''',
        
        'c': '''
                ****
                *
                *
                *
                ****
                    ''',
        
        
        'd': '''****
                *   *
                *   *
                *   *
                ****''',
        
        'e': '''
                *****
                *
                ***
                *
                *****
                    ''',
        'f': '''
                *****
                *
                ***
                *
                *
                    '''
            }
    print(big_letter[letter])

In [117]:
print_big('b')

                ****
                *   *
                ****
                *   *
                ****

In [118]:
print_big('a')

                 *
                * *
               *****
               *   *
               *   *

In [119]:
print_big('c')

                ****
                *
                *
                *
                ****

In [120]:
print_big('e')

                *****
                *
                ***
                *
                *****

In [121]:
print_big('f')

                *****
                *
                ***
                *
                *

## Great Job!